/* p {
    text-align: center;
}
/* h1 {
    text-align: center;
    color: red;
    text-decoration: wavy underline;
} */
/* body {
    background-color: magenta;
    color: black;
}
a {
   font-size: 20px;
}
#one {
    font-size: 80px;
}
}
#two {
    font-size: 120px;
}
}
#three {
    font-size: 180px;
} */
