
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: rgba(191, 10, 191, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.contact-form-container {
    background-color: #212121;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #bbb;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border: 2px solid #ff007f;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #ff007f;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #e60073;
}
